JeopardyGameClient/Connected Services/ServidorServiciosJeopardy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.107.1:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserPojo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPojo" nillable="true" type="tns:UserPojo" />
  <xs:complexType name="GenericClassOfMessageChatxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MessageChat" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="tns:MessageChat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfMessageChatxY0a3WX4" nillable="true" type="tns:GenericClassOfMessageChatxY0a3WX4" />
  <xs:complexType name="MessageChat">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="MessageToSend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageChat" nillable="true" type="tns:MessageChat" />
  <xs:complexType name="GenericClassOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfint" nillable="true" type="tns:GenericClassOfint" />
  <xs:complexType name="GenericClassOfFriendBasicInformationxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FriendBasicInformation" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="tns:FriendBasicInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfFriendBasicInformationxY0a3WX4" nillable="true" type="tns:GenericClassOfFriendBasicInformationxY0a3WX4" />
  <xs:complexType name="FriendBasicInformation">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdStatusAvailability" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendBasicInformation" nillable="true" type="tns:FriendBasicInformation" />
  <xs:complexType name="GenericClassOfPlayerInLobbyxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PlayerInLobby" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="tns:PlayerInLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfPlayerInLobbyxY0a3WX4" nillable="true" type="tns:GenericClassOfPlayerInLobbyxY0a3WX4" />
  <xs:complexType name="PlayerInLobby">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfPlayerInLobby" type="xs:int" />
      <xs:element minOccurs="0" name="SideOfTeam" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInLobby" nillable="true" type="tns:PlayerInLobby" />
  <xs:complexType name="GenericClassOfUserPojoxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserPojo" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:UserPojo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfUserPojoxY0a3WX4" nillable="true" type="tns:GenericClassOfUserPojoxY0a3WX4" />
  <xs:complexType name="GenericClassOfPlayerPojoxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PlayerPojo" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:PlayerPojo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfPlayerPojoxY0a3WX4" nillable="true" type="tns:GenericClassOfPlayerPojoxY0a3WX4" />
  <xs:complexType name="PlayerPojo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralPoints" type="xs:int" />
      <xs:element minOccurs="0" name="IdActualAvatar" type="xs:int" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdState" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="NoReports" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerPojo" nillable="true" type="tns:PlayerPojo" />
  <xs:complexType name="GenericClassOfUserValidatexY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserValidate" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:UserValidate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfUserValidatexY0a3WX4" nillable="true" type="tns:GenericClassOfUserValidatexY0a3WX4" />
  <xs:complexType name="UserValidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserValidate" nillable="true" type="tns:UserValidate" />
  <xs:complexType name="GenericClassOfAvatarPojoxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AvatarPojo" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:AvatarPojo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfAvatarPojoxY0a3WX4" nillable="true" type="tns:GenericClassOfAvatarPojoxY0a3WX4" />
  <xs:complexType name="AvatarPojo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarPojo" nillable="true" type="tns:AvatarPojo" />
  <xs:complexType name="GenericClassOfAvatarChoicexY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AvatarChoice" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:AvatarChoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfAvatarChoicexY0a3WX4" nillable="true" type="tns:GenericClassOfAvatarChoicexY0a3WX4" />
  <xs:complexType name="AvatarChoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAvatar" type="xs:int" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarChoice" nillable="true" type="tns:AvatarChoice" />
  <xs:complexType name="GenericClassOfArrayOfPlayerInLobbyxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPlayerInLobby" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:ArrayOfPlayerInLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfArrayOfPlayerInLobbyxY0a3WX4" nillable="true" type="tns:GenericClassOfArrayOfPlayerInLobbyxY0a3WX4" />
  <xs:complexType name="ArrayOfPlayerInLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerInLobby" type="tns:PlayerInLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerInLobby" nillable="true" type="tns:ArrayOfPlayerInLobby" />
  <xs:complexType name="ArrayOfQuestionCardInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionCardInformation" nillable="true" type="tns:QuestionCardInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionCardInformation" nillable="true" type="tns:ArrayOfQuestionCardInformation" />
  <xs:complexType name="QuestionCardInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryOfQuestion" nillable="true" type="tns:CategoryPojo" />
      <xs:element minOccurs="0" name="IdQuestionCard" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfRound" type="xs:int" />
      <xs:element minOccurs="0" name="RightAnswer" nillable="true" type="tns:AnswerPojo" />
      <xs:element minOccurs="0" name="SpecificQuestionDetails" nillable="true" type="tns:QuestionPojo" />
      <xs:element minOccurs="0" name="WrongOptionOne" nillable="true" type="tns:AnswerPojo" />
      <xs:element minOccurs="0" name="WrongOptionThree" nillable="true" type="tns:AnswerPojo" />
      <xs:element minOccurs="0" name="WrongOptionTwo" nillable="true" type="tns:AnswerPojo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionCardInformation" nillable="true" type="tns:QuestionCardInformation" />
  <xs:complexType name="CategoryPojo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnglishCategoryDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCategory" type="xs:int" />
      <xs:element minOccurs="0" name="SpanishCategoryDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryPojo" nillable="true" type="tns:CategoryPojo" />
  <xs:complexType name="AnswerPojo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnglishAnswerDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAnswer" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategory" type="xs:int" />
      <xs:element minOccurs="0" name="SpanishAnswerDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerPojo" nillable="true" type="tns:AnswerPojo" />
  <xs:complexType name="QuestionPojo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnglishQuestionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAnswerOfQuestion" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategoryBelong" type="xs:int" />
      <xs:element minOccurs="0" name="IdQuestion" type="xs:int" />
      <xs:element minOccurs="0" name="SpanishQuestionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueWorth" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionPojo" nillable="true" type="tns:QuestionPojo" />
  <xs:complexType name="GenericClassOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfboolean" nillable="true" type="tns:GenericClassOfboolean" />
  <xs:complexType name="GenericClassOfArrayOfMessageChatxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMessageChat" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:ArrayOfMessageChat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfArrayOfMessageChatxY0a3WX4" nillable="true" type="tns:GenericClassOfArrayOfMessageChatxY0a3WX4" />
  <xs:complexType name="ArrayOfMessageChat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageChat" type="tns:MessageChat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageChat" nillable="true" type="tns:ArrayOfMessageChat" />
  <xs:complexType name="ArrayOfPlayerInGameDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerInGameDataContract" nillable="true" type="tns:PlayerInGameDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerInGameDataContract" nillable="true" type="tns:ArrayOfPlayerInGameDataContract" />
  <xs:complexType name="PlayerInGameDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPointsOfRound" type="xs:int" />
      <xs:element minOccurs="0" name="FinalPosition" type="xs:int" />
      <xs:element minOccurs="0" name="IdAvatar" type="xs:int" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="SideTeam" type="xs:int" />
      <xs:element minOccurs="0" name="TurnOfPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInGameDataContract" nillable="true" type="tns:PlayerInGameDataContract" />
  <xs:complexType name="CurrentQuestionToShowContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdFirstAnswer" type="xs:int" />
      <xs:element minOccurs="0" name="IdFourthAnswer" type="xs:int" />
      <xs:element minOccurs="0" name="IdQuestion" type="xs:int" />
      <xs:element minOccurs="0" name="IdSecondAnswer" type="xs:int" />
      <xs:element minOccurs="0" name="IdThirdAnswer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrentQuestionToShowContract" nillable="true" type="tns:CurrentQuestionToShowContract" />
  <xs:complexType name="GenericClassOfArrayOfFriendBasicInformationxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfFriendBasicInformation" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:ArrayOfFriendBasicInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfArrayOfFriendBasicInformationxY0a3WX4" nillable="true" type="tns:GenericClassOfArrayOfFriendBasicInformationxY0a3WX4" />
  <xs:complexType name="ArrayOfFriendBasicInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendBasicInformation" type="tns:FriendBasicInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendBasicInformation" nillable="true" type="tns:ArrayOfFriendBasicInformation" />
  <xs:complexType name="GenericClassOfArrayOfPlayerInfoxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPlayerInfo" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:ArrayOfPlayerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfArrayOfPlayerInfoxY0a3WX4" nillable="true" type="tns:GenericClassOfArrayOfPlayerInfoxY0a3WX4" />
  <xs:complexType name="ArrayOfPlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerInfo" nillable="true" type="tns:PlayerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerInfo" nillable="true" type="tns:ArrayOfPlayerInfo" />
  <xs:complexType name="PlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInfo" nillable="true" type="tns:PlayerInfo" />
</xs:schema>