JeopardyGameClient/Connected Services/ServidorServiciosJeopardy/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIUserManager.PlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IUserManager.PlayerInfo" nillable="true" type="tns:IUserManager.PlayerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIUserManager.PlayerInfo" nillable="true" type="tns:ArrayOfIUserManager.PlayerInfo" />
  <xs:complexType name="IUserManager.PlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IUserManager.PlayerInfo" nillable="true" type="tns:IUserManager.PlayerInfo" />
</xs:schema>