JeopardyGameClient/Connected Services/ServidorServiciosJeopardy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
  <xs:element name="SubscribeToICheckUserLiving">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q1:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToICheckUserLivingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeToICheckUserLivingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewLivingCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q2:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewLivingCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewLivingCallBackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsClientActive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsClientActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsClientActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFromICheckUserLiving">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q3:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterForTeamChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewTeamChatCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewTeamChatCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewTeamChatCallBackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMessageTeamChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="message" nillable="true" type="q4:GenericClassOfMessageChatxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMessageTeamChatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idTeamMate" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageToSend" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterFromTeamChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFriendManagerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUserFriendManager" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFriendManagerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="RegisterFriendManagerUserResult" nillable="true" type="q5:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewFriendManagerUserCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUserFriendManager" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewFriendManagerUserCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewFriendManagerUserCallBackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseReported">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numReports" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseReportedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseEliminationFromFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseEliminationFromFriendsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseRequestAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="requestStatus" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseRequestActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseNewPlayerJusJoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseNewPlayerJusJoinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterFromFriendManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUserFriendManager" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayerBanned" type="xs:int" />
        <xs:element minOccurs="0" name="idUserBanning" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="ReportFriendResult" nillable="true" type="q6:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminateUserFromFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayerDeleting" type="xs:int" />
        <xs:element minOccurs="0" name="idUserToEliminate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPLayerRequesting" type="xs:int" />
        <xs:element minOccurs="0" name="idUserRequested" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayerAccepting" type="xs:int" />
        <xs:element minOccurs="0" name="idUserRequesting" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayerDeclining" type="xs:int" />
        <xs:element minOccurs="0" name="idUserRequesting" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToAvailabityCallBackChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNewActiveUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewNotifyAvailabityCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseOfPlayerAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="idFriend" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseOfPlayerAvailabilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserIsAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNewActiveUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserIsPlaying">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUserPlaying" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserIsNotAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUserDisconnecting" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUserAboutNewPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNewPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="CreateNewLobbyResult" nillable="true" type="q7:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinIntoLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinIntoLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="JoinIntoLobbyResult" nillable="true" type="q8:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewLobbyCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewLobbyCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewLobbyCallBackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJoinedPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="playersInTheLobby" nillable="true" type="q9:GenericClassOfArrayOfPlayerInLobbyxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamUp" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTeamsResponseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamSide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="playersInTheLobby" nillable="true" type="q10:GenericClassOfArrayOfPlayerInLobbyxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamSideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DissolvingLobby">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyQuestionsAreReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeEvent" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyQuestionsAreReadyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameWillStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="questionsForGame" nillable="true" type="q11:ArrayOfQuestionCardInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameWillStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrentPlayerInLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUserRequesting" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrentPlayerInLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="GetAllCurrentPlayerInLobbyResult" nillable="true" type="q12:GenericClassOfArrayOfPlayerInLobbyxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DissolveLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerInLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUserLeaving" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminatePlayerFromLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUserToEliminate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectQuestionsForGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChatForLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idAdmin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChatForLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="CreateChatForLobbyResult" nillable="true" type="q13:GenericClassOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="GetAllMessagesResult" nillable="true" type="q14:GenericClassOfArrayOfMessageChatxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewLiveChatCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewLiveChatCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewLiveChatCallBackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="message" nillable="true" type="q15:GenericClassOfMessageChatxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageToSend" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToGameCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUserSubscribing" type="xs:int" />
        <xs:element minOccurs="0" name="idAvatar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewGameCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewGameCallBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewGameCallBackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveNotificationEverybodyIsPlaying">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHost" type="xs:int" />
        <xs:element minOccurs="0" name="isYourTurn" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="playerInGame" nillable="true" type="q16:ArrayOfPlayerInGameDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveNotificationSomeOneLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isYourTurn" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="playerInGame" nillable="true" type="q17:ArrayOfPlayerInGameDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveNotificationAboutTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isYourTurn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveNotificationAboutTurnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseSomeOneSelectAQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="questionToShow" nillable="true" type="q18:CurrentQuestionToShowContract" />
        <xs:element minOccurs="0" name="currentRound" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseSomeOneChooseAnAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAnswerSelected" type="xs:int" />
        <xs:element minOccurs="0" name="idUserAnswering" type="xs:int" />
        <xs:element minOccurs="0" name="pointsWorth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseBeginRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isYourTurn" type="xs:int" />
        <xs:element minOccurs="0" name="roundToStart" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="playerInGam" nillable="true" type="q19:ArrayOfPlayerInGameDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseShowWinner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="playerInGame" nillable="true" type="q20:ArrayOfPlayerInGameDataContract" />
        <xs:element minOccurs="0" name="poinstWereSaved" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseShowLastQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeFromGameCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUserUnsubscribing" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChooseQuestionOfBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUserSelecting" type="xs:int" />
        <xs:element minOccurs="0" name="currentRound" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="questionToShow" nillable="true" type="q21:CurrentQuestionToShowContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChooseAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUserSelecting" type="xs:int" />
        <xs:element minOccurs="0" name="answerSelected" type="xs:int" />
        <xs:element minOccurs="0" name="pointsWorth" type="xs:int" />
        <xs:element minOccurs="0" name="currentTurn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="playerInGame" nillable="true" type="q22:ArrayOfPlayerInGameDataContract" />
        <xs:element minOccurs="0" name="roundFinished" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmLastQuestionAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="playerAnswering" nillable="true" type="q23:PlayerInGameDataContract" />
        <xs:element minOccurs="0" name="points" type="xs:int" />
        <xs:element minOccurs="0" name="isCorrect" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="userPojoNew" nillable="true" type="q24:UserPojo" />
        <xs:element minOccurs="0" name="codeEntered" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="SaveUserResult" nillable="true" type="q25:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="editedName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="UpdateUserInformationResult" nillable="true" type="q26:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="imageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="UpdatePlayerPhotoResult" nillable="true" type="q27:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmailUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmailUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="UpdateEmailUserResult" nillable="true" type="q28:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="UpdatePasswordUserResult" nillable="true" type="q29:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUpdateTwitterUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="twitterUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUpdateTwitterUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="SaveUpdateTwitterUserNameResult" nillable="true" type="q30:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="newUserValidate" nillable="true" type="q31:UserValidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="ValidateCredentialsResult" nillable="true" type="q32:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateThereIsOnlyOneAActiveAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateThereIsOnlyOneAActiveAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateThereIsOnlyOneAActiveAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentEmailConfirmationToCreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q33:UserPojo" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentEmailConfirmationToCreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="SentEmailConfirmationToCreateAccountResult" nillable="true" type="q34:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentEmailInvitingToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q35:UserPojo" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentEmailInvitingToGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="SentEmailInvitingToGameResult" nillable="true" type="q36:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentEmailForInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentEmailForInvitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="SentEmailForInvitationResult" nillable="true" type="q37:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToConfirmationDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="newUser" nillable="true" type="q38:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToConfirmationDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="AddUserToConfirmationDictionaryResult" nillable="true" type="q39:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCodeEntered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="newUser" nillable="true" type="q40:UserPojo" />
        <xs:element minOccurs="0" name="codeEntered" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCodeEnteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCodeEnteredResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q41:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResendCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeUserOutOfDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q42:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeUserOutOfDictionaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q43:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="GetUserFriendsResult" nillable="true" type="q44:GenericClassOfArrayOfFriendBasicInformationxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriendRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q45:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriendRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="GetUserFriendRequestsResult" nillable="true" type="q46:GenericClassOfArrayOfFriendBasicInformationxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersNotFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="user" nillable="true" type="q47:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersNotFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="GetUsersNotFriendsResult" nillable="true" type="q48:GenericClassOfArrayOfFriendBasicInformationxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="ConsultUserByIdResult" nillable="true" type="q49:GenericClassOfUserPojoxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByIdPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByIdPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="ConsultUserByIdPlayerResult" nillable="true" type="q50:GenericClassOfUserPojoxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultPlayerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultPlayerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="ConsultPlayerByIdResult" nillable="true" type="q51:GenericClassOfPlayerPojoxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultPlayerByIdUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultPlayerByIdUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="ConsultPlayerByIdUserResult" nillable="true" type="q52:GenericClassOfPlayerPojoxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="ConsultUserByUserNameResult" nillable="true" type="q53:GenericClassOfUserPojoxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUserConsulting" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="GetPlayersInformationResult" nillable="true" type="q54:GenericClassOfArrayOfPlayerInfoxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameAlreadyExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="newUser" nillable="true" type="q55:UserPojo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameAlreadyExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="UserNameAlreadyExistResult" nillable="true" type="q56:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAlreadyExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAlreadyExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="EmailAlreadyExistResult" nillable="true" type="q57:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlayerSide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUserToChangeTeam" type="xs:int" />
        <xs:element minOccurs="0" name="newSideTeam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="wannaTeam" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyRoomCodeExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyRoomCodeExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="VerifyRoomCodeExistResult" nillable="true" type="q58:GenericClassOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserForGuest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserForGuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" minOccurs="0" name="CreateUserForGuestResult" nillable="true" type="q59:GenericClassOfUserPojoxY0a3WX4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCodeToRecoverPassWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCodeToRecoverPassWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCodeToRecoverPassWordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCodeToRecoverPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCodeToRecoverPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyCodeToRecoverPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>