JeopardyGameClient/Connected Services/ServidorServiciosJeopardy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserPOJO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPOJO" nillable="true" type="tns:UserPOJO" />
  <xs:complexType name="PlayerPOJO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralPoints" type="xs:int" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdState" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="NoReports" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerPOJO" nillable="true" type="tns:PlayerPOJO" />
  <xs:complexType name="UserValidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserValidate" nillable="true" type="tns:UserValidate" />
</xs:schema>