JeopardyGameClient/Connected Services/ServidorServiciosJeopardy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserPOJO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPOJO" nillable="true" type="tns:UserPOJO" />
  <xs:complexType name="GenericClassOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfint" nillable="true" type="tns:GenericClassOfint" />
  <xs:complexType name="GenericClassOfFriendInfoxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FriendInfo" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="tns:FriendInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfFriendInfoxY0a3WX4" nillable="true" type="tns:GenericClassOfFriendInfoxY0a3WX4" />
  <xs:complexType name="FriendInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IdStatus" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendInfo" nillable="true" type="tns:FriendInfo" />
  <xs:complexType name="GenericClassOfPlayerInLobbyxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PlayerInLobby" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="tns:PlayerInLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfPlayerInLobbyxY0a3WX4" nillable="true" type="tns:GenericClassOfPlayerInLobbyxY0a3WX4" />
  <xs:complexType name="PlayerInLobby">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="NumPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Side" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInLobby" nillable="true" type="tns:PlayerInLobby" />
  <xs:complexType name="GenericClassOfUserPOJOxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserPOJO" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:UserPOJO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfUserPOJOxY0a3WX4" nillable="true" type="tns:GenericClassOfUserPOJOxY0a3WX4" />
  <xs:complexType name="GenericClassOfPlayerPOJOxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PlayerPOJO" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:PlayerPOJO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfPlayerPOJOxY0a3WX4" nillable="true" type="tns:GenericClassOfPlayerPOJOxY0a3WX4" />
  <xs:complexType name="PlayerPOJO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralPoints" type="xs:int" />
      <xs:element minOccurs="0" name="IdActualAvatar" type="xs:int" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdState" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="NoReports" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerPOJO" nillable="true" type="tns:PlayerPOJO" />
  <xs:complexType name="GenericClassOfUserValidatexY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserValidate" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:UserValidate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfUserValidatexY0a3WX4" nillable="true" type="tns:GenericClassOfUserValidatexY0a3WX4" />
  <xs:complexType name="UserValidate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserValidate" nillable="true" type="tns:UserValidate" />
  <xs:complexType name="GenericClassOfAvatarPojoxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AvatarPojo" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:AvatarPojo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfAvatarPojoxY0a3WX4" nillable="true" type="tns:GenericClassOfAvatarPojoxY0a3WX4" />
  <xs:complexType name="AvatarPojo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarPojo" nillable="true" type="tns:AvatarPojo" />
  <xs:complexType name="GenericClassOfAvatarChoicexY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AvatarChoice" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:AvatarChoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfAvatarChoicexY0a3WX4" nillable="true" type="tns:GenericClassOfAvatarChoicexY0a3WX4" />
  <xs:complexType name="AvatarChoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAvatar" type="xs:int" />
      <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarChoice" nillable="true" type="tns:AvatarChoice" />
  <xs:complexType name="GenericClassOfMessageChatxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MessageChat" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" type="tns:MessageChat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfMessageChatxY0a3WX4" nillable="true" type="tns:GenericClassOfMessageChatxY0a3WX4" />
  <xs:complexType name="MessageChat">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageChat" nillable="true" type="tns:MessageChat" />
  <xs:complexType name="GenericClassOfArrayOfFriendInfoxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfFriendInfo" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:ArrayOfFriendInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfArrayOfFriendInfoxY0a3WX4" nillable="true" type="tns:GenericClassOfArrayOfFriendInfoxY0a3WX4" />
  <xs:complexType name="ArrayOfFriendInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendInfo" type="tns:FriendInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendInfo" nillable="true" type="tns:ArrayOfFriendInfo" />
  <xs:complexType name="GenericClassOfArrayOfPlayerInLobbyxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPlayerInLobby" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:ArrayOfPlayerInLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfArrayOfPlayerInLobbyxY0a3WX4" nillable="true" type="tns:GenericClassOfArrayOfPlayerInLobbyxY0a3WX4" />
  <xs:complexType name="ArrayOfPlayerInLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerInLobby" type="tns:PlayerInLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerInLobby" nillable="true" type="tns:ArrayOfPlayerInLobby" />
  <xs:complexType name="GenericClassOfArrayOfMessageChatxY0a3WX4">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericClassOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfMessageChat" Namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeEvent" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectSaved" nillable="true" type="tns:ArrayOfMessageChat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericClassOfArrayOfMessageChatxY0a3WX4" nillable="true" type="tns:GenericClassOfArrayOfMessageChatxY0a3WX4" />
  <xs:complexType name="ArrayOfMessageChat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageChat" type="tns:MessageChat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageChat" nillable="true" type="tns:ArrayOfMessageChat" />
</xs:schema>