JeopardyGameClient/Connected Services/ServidorServiciosJeopardy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" />
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="userPojoNew" nillable="true" type="q1:UserPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="newUserValidate" nillable="true" type="q2:UserValidate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateCredentialsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAlreadyExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAlreadyExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailAlreadyExistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameAlreadyExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameAlreadyExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserNameAlreadyExistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentEmailCodeConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentEmailCodeConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SentEmailCodeConfirmationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editedName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="originalName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserInformationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="user" nillable="true" type="q3:UserPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="GetUserFriendsResult" nillable="true" type="q4:ArrayOfFriendInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriendRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="user" nillable="true" type="q5:UserPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriendRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="GetUserFriendRequestsResult" nillable="true" type="q6:ArrayOfFriendInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersNotFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="user" nillable="true" type="q7:UserPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersNotFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="GetUsersNotFriendsResult" nillable="true" type="q8:ArrayOfFriendInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="ConsultUserByIdResult" nillable="true" type="q9:UserPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByIdPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByIdPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="ConsultUserByIdPlayerResult" nillable="true" type="q10:UserPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultPlayerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultPlayerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="ConsultPlayerByIdResult" nillable="true" type="q11:PlayerPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultPlayerByIdUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultPlayerByIdUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="ConsultPlayerByIdUserResult" nillable="true" type="q12:PlayerPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultUserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="ConsultUserByUserNameResult" nillable="true" type="q13:UserPOJO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerIsAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerIsNotAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="idFriend" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFriendManagerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFriendManagerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterFriendManagerUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterFriendManagerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminateUserFromFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser1" type="xs:int" />
        <xs:element minOccurs="0" name="idUser2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idUser2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idUser2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="idUser2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseReported">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numReports" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseReportedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseEliminationFromFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseEliminationFromFriendsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseResquestAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="requestStatus" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseResquestActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewLobbyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrentPlayerInLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrentPlayerInLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="GetAllCurrentPlayerInLobbyResult" nillable="true" type="q14:ArrayOfPlayerInLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DissolveLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="joinLobbyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerInlobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leaveLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlayerSide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="side" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminatePlayerFromMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomCode" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="wannaTeam" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJoinedPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="playersInTheLobby" nillable="true" type="q15:ArrayOfPlayerInLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJoinedPlayerResponseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamUp" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeTeamsResponseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamSide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JeopardyGame.Service.InterfacesSevices" minOccurs="0" name="playersInTheLobby" nillable="true" type="q16:ArrayOfPlayerInLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamSideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DissolvingLobby">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DissolvingLobbyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>